@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(56, 50, 50);
    z-index: 20;
    position: relative;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(250, 244, 244, 0.253);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    padding: 3px 24px;
    color: white;
    font-size: 23px;
    border-radius: 4px;
}

.main input {
    font-size: 20px;
    border-radius: 4px;
    color: white;
    padding: 7px 101px 8px 14px;
    font-weight: 700;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(212, 200, 200, 0.5);
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.btn-red-sm {
    background-color: red;
    color: white
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secImage {
    position: relative;
}

.secImage img {
    width: 555;
    position: relative;
    z-index: 10;
}

.secImage video {
    position: absolute;
    top: 51px;
    width: 555px;
    right: 0;
}

section.first>div {
    display: flex;
    flex-direction: column;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;
    font-weight: bolder;
}

.feq {
    background-color: black;
    color: white;
    padding: 34px;
    font-size: 24px;
}

.feq h2 {
    text-align: center;
    font-size: 48px;
}

.feqbox:hover {
    background-color: #414141;
}

.feqbox svg {
    filter: invert(1);
}

.feqbox {
    display: flex;
    transition: all 1s ease-out;
    justify-content: space-between;
    background-color: #2d2d2d;
    cursor: pointer;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
}

footer {
    color: white;
    margin: auto;
    max-width: 60vw;
    padding: 34px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width: 1300px) {

    nav{
      max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImage img {
        width: 305px;
    }

    .secImage video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
}

@media screen and (max-width: 1300px) {
    .footer {
        display: grid;
        flex-direction: column;
        grid-template-columns: 1fr 1fr;
        color: white;
        gap: 20px;
    }
    .footer-items{
        align-items: center;
    }
}

footer .questions {
    padding: 34px 0;
}

.footer a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 14px;
}